@charset "utf-8";
/* CSS Document */
.boxSetting{
    padding:10px;
    text-align:center;
    position:absolute; z-index:2;
    top:0; left:0;
    width:100%;
}
.boxSetting .floatL{
    float:left;
    width: inherit;
}
.boxSetting .floatR{
    float:right;
    font-size:24px;
    text-align:right;
    margin: -20px 10px 0 0;
}

.boxSetting ul.lstDaily{
    text-align:center;
}
.boxSetting ul.lstDaily li{
    display:inline;
    margin:5px;
}
.widget .media{
    padding-right:7px;
}
.boxTtl{
    border-bottom:#e3e2e2 solid 1px;
}
.media-body .ttlWord{
    font-size:14px;
    font-weight:bold;
    color:#545454;
    padding-top:10px;
}
.ttlWord span{
    font-size:13px;
    font-weight:nomal;
}

.media-body .boxTtl .floatL{
    float:left;
    width:73%;
}
.media-body .boxTtl .floatR{
    float:right;
    font-size:24px;
    width:27%;
    padding-top:10px;
    text-align:right;

}
.clearFix:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
    }
	
.clearFix{display: inline-block;} 
/* Hides from IE Mac */
* html .clearFix{height:1%;}
.clearFix{display:block;}
/* End Hack */ 

.boxCases{
    padding:14px 0;
}
.boxCases .floatL{
    float:left;
    width:55%;
}

.boxCases .floatR{
    float:right;
    width:45%;
    text-align:center;  
}

.tblMain,
.tblMedium{
    width:100%;
    color:#545454;
}

.tblMain .blue{
    color:#3695d5;
    font-size:10px;
}
.tblMain .td24{
    width:24%;
    text-align:center;
}

.tblMain .td28{
    width:28%;
    text-align:center;
}

.tblMain .txt14{
    font-size:14px;
}
.tblMain .txt10{
    font-size:10px;
}
.boxToggle{
    margin:10px auto;
    width:25px;
}
.boxToggle i{
    font-size:24px;
}

.tblMedium .pdn{
    padding:0;
    font-size:12px;
    font-weight:bold;
}
.tblMedium .txt11{
    font-size:11px;
}
.tblMedium .tblTitle{
    padding:9px 0;
    font-size:12px;
    width:30%;
}
.tblMedium .tblTitle_Mail{
    padding:9px 0;
    font-size:11px;
    width:30%;
}
.tblMedium .tblReadToday{
    padding:5px 0;
    font-size:14px;
    width:15%;
    text-align:center;
}
.tblMedium .tblYestAverage{
    padding:9px 0;
    font-size:11px;
    width:15%;
    text-align:center;
}
.tblMedium .tblIcon{
    padding:9px 0;
    font-size:11px;
    width:10%;
    text-align:right;
}


.ribbon-wrapperR.smallR {
    width: 65px;
    height: 68px;
}

.ribbon-wrapperR {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    left: -3px;
    top: -3px;
}

.ribbon-wrapperR {
    z-index: 2;
}

.smallR {
    font-size: 85%;
}






.ribbon-wrapperR .ribbon:after {
    right: 0px;
}

.ribbon-wrapperR.smallR .ribbon:before {
    bottom: -2px;
    left: 0px;
}

.ribbon-wrapperR .ribbon:before, .ribbon-wrapperR .ribbon:after {
    content: "";
    border-top: 2px solid #797979;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    position: absolute;
    bottom: -2px;
}

.ribbon-wrapperR.smallR .ribbon {
    width: 90px;
    padding: 0px;
    font-size: 9px;
}

.ribbon-wrapperR .ribbon.warning {
    background-color: #CC3A3A;
}

.ribbon-wrapperR .ribbon {
    display: block;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    transform: rotate(-45deg);
    position: relative;
    padding: 7px 0px;
    width: 120px;
    line-height: 20px;
    background-color: #797979;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    right: 28px;
    top: 5px;
}

