/* CSS Document */
@charset "utf-8";
/* CSS Document */
/*.boxSetting{
    padding:10px;
    text-align:center;
    position:absolute; z-index:2;
    top:0; left:0;
    width:100%;
}
.boxSetting .floatL{
    float:left;
    width: inherit;
}
.boxSetting .floatR{
    float:right;
    font-size:18px;
    text-align:right;
    margin: -20px 10px 0 0;
}

.boxSetting ul.lstDaily{
    text-align:center;
}
.boxSetting ul.lstDaily li{
    display:inline;
    margin:5px;
}*/

/*.widget .media{
    padding-right:7px;
}*/
#content>.container .innerLR>h2,#content>.innerLR>h2{
    margin: 0;
    padding-bottom:0;
}
.innerLR h2{
line-height: 60px;
padding-bottom:0;
}
.boxTtl{
    
}
.txtDate{
    font-size:18px;
    margin:10px 0;
}
.media-body .ttlWord{
    font-size:14px;
    font-weight:bold;
    color:#545454;
    padding-top:10px;
}
.ttlWord span{
    font-size:13px;
    font-weight:normal;
}

.media-body .boxTtl .floatL{
    float:left;
    width:73%;
}
.media-body .boxTtl .floatR{
    float:right;
    font-size:14px;
    width:27%;
    padding:10px 10px 5px 0;
    text-align:right;

}
.boxLabel{
    margin:5px;
}

.labelBtn {
    height:30px;
    line-height:30px;
    align:center;
    list-style-type:none;
    list-style-position:outside;
    
}

.boxLabel li {
    display:block;
    float:left;
    white-space:nowrap;
    height:30px;
    margin:5px 5px;
    padding:0 10px 5px 10px;
    color:#ffffff;
    line-height:30px;
    text-align:center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.clear {
    clear:both;
    height:0;
    visibility:hidden;
    font-size:1px;
    line-height:0px;
}

.boxLabel li:last img {
    padding:0;
}

.boxLabel li.label1 {
    background-color:#ab7a4b;
}

.boxLabel li.label2 {
    background-color:#8bbf61;
}

.boxLabel li.label3 {
    background-color:#cc3a3a;
}

.boxLabel li.label4 {
    background-color:#424242;
}

.clearFix:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
    }
	
.clearFix{display: inline-block;} 
/* Hides from IE Mac */
* html .clearFix{height:1%;}
.clearFix{display:block;}
/* End Hack */ 


.boxFoottxt{
    /*margin:15px 0 0 0;*/
    height:0;
    font-size:15px;
}
.boxFoottxt ul.txtFoot{
    height:46px;
    line-height:46px;
    margin:0 10px;
    list-style:none;
    border-top: 1px solid #e3e2e2;
    
}
.boxFoottxt .txtFoot li{
    height:46px;
    float:left;
    padding-right:7px;
}

.boxFoottxt .txtFoot li a{
    color:#525252;
}

.boxFoottxt .txtFoot li i{
    color:#3695d5;
}

.boxFoottxt .txtFoot li:last-child {
    float:right;
    height:33px;
    margin-top:13px;
}

.boxFoottxt .txtFoot li:last-child p {
    width:47px;
    height:20px;
    text-align:center;
    line-height:20px;
    color:#ffffff;
    background-color:#3695d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.swiper-wrapper{
	padding-left: 25px;
	padding-right: 10px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	width: 100%;
	height: 20px;
}
.swiper-container, .swiper-slide {
    /*width: 320px;*/
    height: 40px;
}

.pagination {
    text-align: right;
    padding: 5px 0;
}
 
.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin: 0 4px;
    background-color: #000;
    border: 1px solid #188A77;
    cursor: pointer;
    transition: all .25s linear;
}
 
.swiper-active-switch {
    background-color: #16AC94;
}


.ttlSitename{
    padding:0 0 0 20px;
    background:url(../images/ttlSitename.png) no-repeat 0 0;
    background-size:16px;
    height:18px;
    font-weight:bold;
}
.iconTwitter{
    background-position:0 -35px;
}

.iconBoard{
    background-position:0 -68px;
}

.iconBlog{
    background-position:0 -99px;
}
.iconCommunity{
    background-position:0 -130px;
}
.iconIndividual{
    background-position:0 -162px;
}
.iconEc{
    background-position:0 -196px;
}
.iconMail{
    background-position:0 -228px;
}
.iconNews{
    background-position:0 -260px;
}
.iconCompany{
    background-position:0 -293px;
}
.iconEmployment{
    background-position:0 -325px;
}
.iconMap{
    background-position:0 -357px;
}
.iconEtc{
    background-position:0 -390px;
}


.txtSitemain {
    margin:10px 0;
}

.pull-left {
    align:right;
    float:right;
}

.nav-header {
    width:100%;
    height:49px;
}

.nav-header li {
    float:left;
    width:151px;
    height:45px;
    margin-left:auto;
    margin-right:auto;
    line-height:49px;
}

.nav-header li:first-child {
    width:57px;
    margin-left:0;
    margin-right:auto;
}

.nav-header li:first-child img{
    margin:auto;
}

.nav-header li:last-child {
 width:57px;
 margin-right:0;
 margin-left:auto;
}

.pull-return {
    width:57px;
    height:45px;
    text-align:center;
    line-height:45px;
}

.navbar-titleDay {
    width:151px;
    height:24px;
    margin-left:auto;
    margin-right:auto;
}

.navbar-titleDay-date {
    float:left;
    width:115px;
    height:49px;
    margin-bottom:0;
    line-height:49px;
    padding-top:10px;
}

.navbar-titleDay-date dt {
    float:left;
    width:115px;
    height:12px;
    align:center;
    text-align:center;
}

.navbar-titleDay-date dd {
    float:left;
    width:115px;
    height:12px;
    align:center;
    text-align:center;
}

.navbar-titleDay_lr {
    float:left;
    width:18px;
    height:24px;
}

.header-underline {
    width:100%;
    height:3px;
    background-color: #003399;
}

.beige {
    background-color:#fffff0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.beigeBottom {
    background-color:#fffff0;
    width:100%;
    height:46px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.mediaHeader {
    height:46px;
    margin:0px 10px;
    border-bottom:#e3e2e2 solid 1px;
}

.boxCasesbox {
    margin:5px 10px;
}

.arrowLR {
    position:fixed;
    width:10px;
    height:10px;
}



